div.card {
  border-radius: 15px;
}
.font-title {
  font-size: 24px;
}
.bt-blue {
  background: #6379f4;
}
.bt-blue:hover {
  color: #fff;
  background: #425be7;
}
.f-white {
  color: #fff;
}

.btn-gray {
  background-color: #e4e8fa;
}

.btn-gray:hover {
  background-color: #a4a7b4;
}
