@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: "Nunito Sans";
  box-sizing: border-box;
}

.text-blue {
  color: #6379f4;
}

.bg-blue {
  background: #6379f4;
}

.radius-12 {
  border-radius: 12px !important;
}

.btn-blue {
  background-color: #6379f4;
  color: white;
}

.btn-blue:hover {
  background-color: #5365c9;
  color: white;
}

.btn-gray {
  background-color: #e4e8fa !important;
}

.btn-gray:hover {
  background-color: #a4a7b4 !important;
}
